{% extends this.layout %}
{% block content %}


<section>
    		<p id="page-name">A'DESIGN AWARD</p>
			<div id="awards-text">
				<p>{{ lang.t('mobile', 'Компания STDIAMOND в лице главного художника Татьяны Ракши удостоена премии THE GOLDEN A\'DESIGN в категории "Дизайн Ювелирных и Часовых Изделий" во всемирном конкурсе A\'DESIGN AWARD & COMPETITION Milan / Italy.') }}.</p>
				<img src="{{Yii.baseUrl(true)}}/images/award1.png" alt="">
				<p class="img-desc">{{ lang.t('mobile', 'Кольцо «Великая Богиня Исида»') }}</p>
				<img src="{{Yii.baseUrl(true)}}/images/award2.png" alt="">
				<p class="img-desc">{{ lang.t('mobile', 'Главный художник компании STDIAMOND') }}<br>{{ lang.t('mobile', 'Татьяна Ракша о премии') }}<br> «The Golden A'Design Award»</p>
				<p>The Golden A'Design Award — {{ lang.t('mobile', 'это престижная премия, которой удостаиваются лишь те дизайнерские работы, которые достигли показательного уровня совершенства. Все дизайнерские работы оцениваются тремя группами жюри, каждая отдельная группа состоит из 5 научных сотрудников, 5 специалистов и 5 представителей целевой аудитории, что действуют для каждого отдельного конкурса. Во избежание необъективности, дизайнерские работы оцениваются по системе нормирования количественных оценок, а на голосовании главными критериями отбора служат функциональность, эргономичность, технологичность, презентабельность, инновационность, полезность, технологичность и любые другие особые показатели принятые во внимание жюри.') }}</p>
			</div>
			<div class="btns">
			<a class="btn" href="item.html">{{ lang.t('mobile', 'Переход к обручальным') }}</a>
			<a class="btn" href="cat.html">{{ lang.t('mobile', 'Переход к украшениям') }}</a>
			</div>
			
	</section>
{% endblock %}

