{% extends this.layout %}
{% block content%}


<section>
    <p id="page-name">{{ lang.t('mobile', 'Другие проекты') }}</p>
    <ul id="proj-list">
        {% for i in 1..4 %}
            {% for key, action in actions %}
                {% if (key % 4) + 1 == i %}
                    <li>
                        <a href="{% if action.link == '' %}{{ action.getUrl() }}{% else %}{{action.link}}{% endif %}">
                            <img src="{{ action.imageUrl['preview'] }}" alt="">
                            <span>{{ action.getLangProp('title') }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endfor %}    
    </ul>
</section>
{% endblock %}

